.padre{
    display: grid;
    height: 100vh;
    width: 100%;
    margin: 5px;

    grid-template-columns:  1fr 1fr 1fr 10% 10%;
    grid-template-rows: 15% 1fr 1fr ;
    background-color: aqua;
}

.rectangulo{
    height: 100%;
    width: 100%;

    background-color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}

.boton{
    height: 50%;
    width: 100%;

    background-color: red;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
}

